What is the present value of $20,000 to be received 8 years from now, assuming a discount rate of 5% per year?

In [ ]:
FV = 20000
r = 0.05
n = 8
Demoninator = (1 + r)**n
PV = FV / Demoninator
print(PV)

13536.78724057374

You will receive $2,000 at the end of each year for the next 10 years. If the discount rate is 7% per year, what is the present value of these payments?

In [ ]:
P = 2000 #Payment per period
r = 0.07 # discount rate
n = 10  # time
Numerator = P * ( 1 - (1 + r)**-n )
PV = Numerator / r
print(PV)
print(f'The present value of the annuity is ${PV:.2f}')

14047.16308186521
The present value of the annuity is $14047.16

 Calculate the future value of $10,000 invested for 5 years at an annual interest rate of 6%, compounded annually.

In [ ]:
P = 10000
r = 0.06
n = 5
FV = P *(1+r)**n
print(f'The future value of the investment is ${FV:.2f}')

The future value of the investment is $13382.26

Suppose you will receive a payment of $500 at the end of this year, and payments will grow by 3% annually for the next 5 years. If the discount rate is 8%, what is the present value of this growing annuity?

In [ ]:
P = 500
r = 0.08
g = 0.03
n = 5
PV = P * ((1 - ((1 + g) / (1 + r)) ** n) / (r - g))
print(PV)

2110.175442745612

Suppose you invest $5,000 at 4% annual interest. How much will you have after 3 years if interest is compounded:
•	(a) Annually.
•	(b) Quarterly.
•	(c) Monthly

In [ ]:
#A Anually
P= 5000
r = 0.04
n = 3
FV = P * (1 + r)**n
print(f" The compounded annual interest is ${FV:.2F}")

 The compounded annual interest is $5624.32

In [ ]:
#B Quarterly
P = 5000
r = 0.04
n =3
m = 4
FV = P * (1+r/m)**(n*m)
print(f" The compounded quarterly interest is ${FV:.2F}")

 The compounded quarterly interest is $5634.13

In [ ]:
#Monthly
P = 5000
r = 0.04
n =3
m = 12
FV = P * (1+r/m)**(n*m)
print(f" The compounded monthly interest is ${FV:.2F}")

 The compounded monthly interest is $5636.36

A bank offers a nominal interest rate of 6%, compounded monthly. Calculate the effective annual rate (EAR).

In [ ]:
r = 0.06
m = 12
EAR = ((1 + r/m)**m) - 1
print(f"Effective Annual Rate (EAR): {EAR *100:.2f}%")

Effective Annual Rate (EAR): 6.17%

Question 7: You invest $12,000 today in a project that is expected to generate the following cash flows over the next 5 years:

In [ ]:
Year_1 = (3000/(1+0.08)**1)
Year_2 = (4000/(1+0.08)**2)
Year_3 = (3500/(1+0.08)**3)
Year_4 = (5000/(1+0.08)**4)
Year_5 = (6000/(1+0.08)**5)
PV = Year_1 + Year_2 + Year_3 + Year_4 + Year_5
print(f"The total PV for the following years is ${PV:.2F}")

The total PV for the following years is $16744.19

Question 8. Suppose two projects have the following cash flows.  Compute the IRR for both projects. Which project would you choose if the required rate of return is 10%? (Use IRR and NPV to make the decision).

![image.png]()

In [ ]:
pip install numpy-financial

Collecting numpy-financial
  Downloading numpy_financial-1.0.0-py3-none-any.whl.metadata (2.2 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.10/dist-packages (from numpy-financial) (1.26.4)
Downloading numpy_financial-1.0.0-py3-none-any.whl (14 kB)
Installing collected packages: numpy-financial
Successfully installed numpy-financial-1.0.0

In [ ]:
import numpy_financial as npf

#Project A IRR
cash_flow_a = [-10000,5000,6000,7000]
IRR_A = npf.irr(cash_flow_a)
print(F"The IRR for Project A is {IRR_A * 100:.2F}%")

#Project B IRR
cash_flow_b = [-10000,4000,4500,8000]
IRR_B = npf.irr(cash_flow_b)
print(F"The IRR for Project B is {IRR_B * 100:.2F}%")

The IRR for Project A is 33.87%
The IRR for Project B is 26.05%

In [ ]:
#NPV for Project A

NPV_A = 5000/(1+0.10)**1 + 6000/(1+0.10)**2 + 7000/(1+0.10)**3 - 10000
print(F" The NPV for Project A is ${NPV_A:.2F}")

#NPV for Project B
NPV_B = 4000/(1+0.10)**1 + 4500/(1+0.10)**2 + 8000/(1+0.10)**3 - 10000
print(F"The NPV for Project B is ${NPV_B:.2F}")

 The NPV for Project A is $4763.34
The NPV for Project B is $3365.89

Question 9: Given the following information, calculate the expected return on Stock A using the CAPM model:
o	Risk-free rate Rf: 3%.
o	Expected market return Rm: 8%.
o	Beta of Stock A βA: 1.2.

In [ ]:
#Expected Return on Stock A
E_Ra = 0.03 + 1.2 * (0.08 - 0.03)
print(f"The Expected Return on Stock A is {E_Ra * 100 :.2f}%")

The Expected Return on Stock A is 9.00%

Question 10: You have a portfolio composed of two stocks:
•	Stock A has an expected return of 12% and a beta of 1.5.
•	Stock B has an expected return of 8% and a beta of 0.9.
The portfolio consists of 60% Stock A and 40% Stock B. Calculate:
•	(a) The expected return of the portfolio.
•	(b) The beta of the portfolio

In [ ]:
# Expected Return for the Portfolio
E_portfolio = 0.60 * 0.12 + 0.40 * 0.08
print(f" The expected return for the Portfolio is {E_portfolio * 100}%")

# Beta of the Portfolio
B_portfolio = 0.60 * 1.5 + 0.40 * 0.9
print(f"The expected Beta for the Portfolio is {B_portfolio}")

 The expected return for the Portfolio is 10.4%
The expected Beta for the Portfolio is 1.26

Question 11 (Refer to ‘Financial Modeling”, Chapter 1, Problem 8)
You have just taken a car loan of $15,000. The loan is for 48 months at an annual interest
rate of 15% (which the bank translates to a monthly rate of 15%/12 = 1.25%). The 48
payments (to be made at the end of each of the next 48 months) are all equal.
a. Calculate the monthly payment on the loan.
b. In a loan table calculate, for each month: the principal remaining on the loan at the
beginning of the month and the split of that month ’ s payment between interest and
repayment of principal.
c. Show that the principal at the beginning of each month is the present value of the
remaining loan payments at the loan interest rate (use either NPV or the PV
functions).

In [ ]:
#A: Monthly Payment on the Loan
p = 15000
r = 0.0125
n = 48
M = p * (r * (1 + r)**n) / ((1+r)**n -1)
print(f"The monthly payment on the loan is ${M:.2f}")

#B: Loan amortization table
p = 15000
r = 0.0125
n = 48
M = p * (r * (1 + r)**n) / ((1+r)**n -1)

#List for Amortization Schedule
amortization_schedule = []

#remaining principle
remaining_principal = p

#Interest, principal repayment, and remaining balance
for month in range(1, n +1):
  #Interest Payment for the curren month
  interest_payment = remaining_principal * r

  #Principle rePayment for the Current Month
  principle_repayment = M - interest_payment

  #Remaining Principle after Current Payment
  remaining_principal -= principle_repayment

  # Append the month details to the amortization schedule
  amortization_schedule.append({
        'Month': month,
        'Monthly Payment': round(M, 2),
        'Interest Payment': round(interest_payment, 2),
        'Principal Repayment': round(principle_repayment, 2),
        'Remaining Principal': round(remaining_principal, 2)
    })
#Amortization Schedule
import pandas as pd
df = pd.DataFrame(amortization_schedule)
print(df)

The monthly payment on the loan is $417.46
    Month  Monthly Payment  Interest Payment  Principal Repayment  \
0       1           417.46            187.50               229.96
1       2           417.46            184.63               232.84
2       3           417.46            181.72               235.75
3       4           417.46            178.77               238.69
4       5           417.46            175.78               241.68
5       6           417.46            172.76               244.70
6       7           417.46            169.70               247.76
7       8           417.46            166.61               250.85
8       9           417.46            163.47               253.99
9      10           417.46            160.30               257.16
10     11           417.46            157.08               260.38
11     12           417.46            153.83               263.63
12     13           417.46            150.53               266.93
13     14           417.46            147.20               270.27
14     15           417.46            143.82               273.64
15     16           417.46            140.40               277.06
16     17           417.46            136.93               280.53
17     18           417.46            133.43               284.03
18     19           417.46            129.88               287.58
19     20           417.46            126.28               291.18
20     21           417.46            122.64               294.82
21     22           417.46            118.96               298.50
22     23           417.46            115.23               302.24
23     24           417.46            111.45               306.01
24     25           417.46            107.62               309.84
25     26           417.46            103.75               313.71
26     27           417.46             99.83               317.63
27     28           417.46             95.86               321.60
28     29           417.46             91.84               325.62
29     30           417.46             87.77               329.69
30     31           417.46             83.65               333.81
31     32           417.46             79.47               337.99
32     33           417.46             75.25               342.21
33     34           417.46             70.97               346.49
34     35           417.46             66.64               350.82
35     36           417.46             62.25               355.21
36     37           417.46             57.81               359.65
37     38           417.46             53.32               364.14
38     39           417.46             48.77               368.69
39     40           417.46             44.16               373.30
40     41           417.46             39.49               377.97
41     42           417.46             34.77               382.69
42     43           417.46             29.98               387.48
43     44           417.46             25.14               392.32
44     45           417.46             20.24               397.22
45     46           417.46             15.27               402.19
46     47           417.46             10.24               407.22
47     48           417.46              5.15               412.31

    Remaining Principal
0              14770.04
1              14537.20
2              14301.46
3              14062.76
4              13821.09
5              13576.39
6              13328.63
7              13077.78
8              12823.79
9              12566.63
10             12306.25
11             12042.62
12             11775.69
13             11505.42
14             11231.78
15             10954.71
16             10674.19
17             10390.15
18             10102.57
19              9811.39
20              9516.57
21              9218.07
22              8915.83
23              8609.82
24              8299.98
25              7986.27
26              7668.64
27              7347.03
28              7021.41
29              6691.72
30              6357.90
31              6019.91
32              5677.70
33              5331.21
34              4980.39
35              4625.18
36              4265.54
37              3901.39
38              3532.70
39              3159.40
40              2781.43
41              2398.74
42              2011.26
43              1618.94
44              1221.71
45               819.52
46               412.31
47                -0.00

Question 12 (Refer to ‘Financial Modeling”, Chapter 1, Problem 13)
 You have just turned 35, and you intend to start saving for your retirement. Once you retire
in 30 years (when you turn 65), you would like to have an income of $100,000 per year
for the next 20 years. Calculate how much you would have to save between now and age
65 in order to fi nance your retirement income. Make the following assumptions:
• All savings draw compound interest of 10% per year.
• You make the fi rst payment today and the last payment on the day you turn 64 (30
payments).
• You make the fi rst withdrawal when you turn 65 and the last withdrawal when you turn
84 (20 payments).

In [ ]:
# Lump Sum to Retire at 65
p = 100000 #annual withdrawl amount
r = 0.10 #annual interest during retirment
n = 20   #number of years during withdrawal
PV = p * (1-(1+r)**-n)/r
print(f"The lump sum to retire at age 65 is ${PV:.2f}")

# How much money to save per year
#Updated Variables
#p annual savings
r = 0.10 #annual interest
n = 30 #years of saving
fv =  PV
p = fv / (((1 + r)**n - 1) / r * (1 + r))
print(f"The amount of savings needed per year is ${p:.2f}")

The lump sum to retire at age 65 is $851356.37
The amount of savings needed per year is $4705.10

Question 13  (Refer to “Financial Modeling”  , Chapter 3,  Problem 6)
ABC Corp. has just paid a dividend of $3 per share. You—an experienced analyst—feel
quite sure that the growth rate of the company ’ s dividends over the next 10 years will be
15% per year. After 10 years you think that the company ’ s dividend growth rate will slow
to the industry average, which is about 5% per year. If the cost of equity for ABC is 12%,
what is the value today of one share of the company?

In [ ]:
#Dividends for the first ten years
D_0 = 3 #initial dividend
g_1 = 0.15 #growth rate for the first 10 years
n = 10 #number of years

#For LOOP to calculate dividend
for t in range(1, n + 1):
  D_t = D_0 * (1+g_1)** t
  print(f"Year {t}: Dividend = ${D_t:.2f}")

 #Present Value of Dividends for the first Ten Years
D_0 = 3  # Initial dividend
g_1 = 0.15  # Growth rate for the first 10 years
r = 0.12  # Cost of equity / required return
n = 10  # Number of years
#present value of dividends
pv_dividends = 0

for t in range(1, n + 1):
  #Dividend for year t
  D_t = D_0 * (1 + g_1) ** t
    # Calculate the present value of the dividend for year t
PV_D_t = D_t / (1 + r) ** t
pv_dividends += PV_D_t  # Accumulate the present value of all dividends
print(f"Year {t}: Dividend = ${D_t:.2f}, Present Value = ${PV_D_t:.2f}")

# Print the total present value of dividends in the first 10 years
print(f"Total Present Value of Dividends (First 10 Years): ${pv_dividends:.2f}")

g_2 = 0.05  # Growth rate after year 10

# Calculate the dividend for year 10
D_10 = D_0 * (1 + g_1) ** 10

# Calculate the dividend for year 11
D_11 = D_10 * (1 + g_2)

# Calculate the terminal value at year 10 using the Gordon Growth Model
TV_10 = D_11 / (r - g_2)

# Discount the terminal value back to the present
PV_TV_10 = TV_10 / (1 + r) ** 10

# Print the results
print(f"Terminal Value at Year 10: ${TV_10:.2f}")
print(f"Present Value of Terminal Value: ${PV_TV_10:.2f}")

Year 1: Dividend = $3.45
Year 2: Dividend = $3.97
Year 3: Dividend = $4.56
Year 4: Dividend = $5.25
Year 5: Dividend = $6.03
Year 6: Dividend = $6.94
Year 7: Dividend = $7.98
Year 8: Dividend = $9.18
Year 9: Dividend = $10.55
Year 10: Dividend = $12.14
Year 10: Dividend = $12.14, Present Value = $3.91
Total Present Value of Dividends (First 10 Years): $3.91
Terminal Value at Year 10: $182.05
Present Value of Terminal Value: $58.62

Question 14 (Reft to “Financial Modeling”, Chapter 3, Problem 9)
You are considering buying the bonds of a very risky company. A bond with a $100 face
value, a 1-year maturity, and a coupon rate of 22% is selling for $95. You consider the
probability that the company will actually survive to pay off the bond 80%. With 20%
probability, you think that the company will default, in which case you think that you will
be able to recover $40.
a. What is the expected return on the bond?
b. If the company has cost of equity r E = 25%, tax rate T C = 35%, and 40% of its capital
structure is equity, what is its weighted average cost of capital (WACC)?

In [ ]:
#A Expected Return of the Bond
Face_Value = 100
Coupon_Rate = 22
Bond_Price = 95
Survival = 0.80
Defualt = 0.20
Recovery = 40
#Expected payoff
Expected_Payoff = (Survival * 122) + (Defualt * Recovery)
print(f"The Expected Payoff is ${Expected_Payoff:.2f}")

#Expected Return
Expected_Return = (Expected_Payoff - Bond_Price) / Bond_Price
print(F" The Expected Return is {Expected_Return * 100 :.2f}%")

#WACC
E = 0.40 #Market Value of Equity
D = 0.60 #Market Value of Debt
Re = 0.25 #Cost of equity
Rd = 0.116 #Cost of Debt
Tc = 0.35  #Tax Rate

WACC = E * Re + D * Rd * (1-Tc)
print(f"The WACC for the company is {WACC * 100:.2f}%")

The Expected Payoff is $105.60
 The Expected Return is 11.16%
The WACC for the company is 14.52%